{% extends 'base.html' %} {% block title %} {{user.get_full_name()}} {% endblock
%} {% block content %}
<h1>{{user.get_full_name()}}</h1>
<img src="{{user.image_url}}" alt="Profile Picture" />
<form action="/users/{{user.id}}/edit" method="GET">
  <button class="edit">Edit</button>
</form>
<form action="/users/{{user.id}}/delete" method="POST">
  <button class="delete">Delete</button>
</form>
<h2>Posts</h2>
<ul>
  {% for post in posts %}
  <li>
    <a href="/posts/{{post.id}}">{{post.title}}</a>
  </li>
  {% endfor %}
</ul>
<form action="/users/{{user.id}}/posts/new">
  <button class="edit">Add Post</button>
</form>
{% endblock %}
