{% extends 'base.html' %} {% block title %} Edit Post {% endblock %} {% block
content %}
<h1>Edit "{{post.title}}"</h1>
<form action="/posts/{{post.id}}/edit" method="POST">
  <label for="title"
    >Title
    <input type="text" name="title" />
  </label>
  <label for="content"
    >Content
    <input type="text" name="content" />
  </label>
  <button class="save">Save</button>
</form>
<form action="/posts/{{post.id}}" method="GET" class="cancel_form">
  <button class="cancel">Cancel</button>
</form>
{% endblock %}
